<style>
    .starter {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 20px 100px;
        width: fit-content;
        margin: 0px auto;
        transition: .3s;
    }
    
    svg {
        width: 80px;
        height: 80px;
        display: block;
        margin: auto;
    }
    
    .cap {
        text-transform: capitalize;
    }
    
    a img {
        width: 25px;
        height: 25px;
        margin: 0 10px;
        display: inline-block;
    }
    
    p,
    a {
        display: flex;
        align-items: center;
    }
    
    a {
        text-decoration: none;
        text-align: center;
        justify-content: center;
    }
    
    .center {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    
    .starter h1 {
        font-size: 48px;
        margin-bottom: 20px;
        font-weight: 300;
    }
    
    ol header {
        font-size: 28px;
        margin-top: 20px;
    }
    
    li {
        list-style: armenian;
        display: block;
        margin: 10px 0;
        font-weight: 400;
        background-color: #eee;
        padding: 10px;
    }
    
    .code div>span {
        margin: 10px 0;
        display: inline-block;
    }
    
    .y {
        color: #f8f245
    }
    
    .r {
        color: #f9274f;
    }
    
    .a {
        color: #9cde2a;
    }
    
    .b {
        color: #93d37b;
    }
    
    .c {
        color: #cb2810;
    }
    
    .d {
        color: #d2fa02;
    }
    
    .e {
        color: #f82546;
    }
    
    .code code {
        background-color: #18191f;
        color: #ddd;
        padding: 10px 20px;
    }
</style>

<article class="starter">

    <h1 class="cap">Hello from Express template ...</h1>

    <p class="cap">this template is created by
        <a style="text-transform: lowercase;" href="https://github.com/abdoseadaa"> <img src="/images/github.svg" alt="github icon"> abdoseadaa </a>
    </p>

    <ol>
        <div class="code">
            <div><span>you need to run the following command 😎👇</span></div>
            <code lang="javascript"><span class="y">npm install</span> <span class="r">express</span> <span class="a">nodemon</span> <span class="b">mongoose</span> <span class="c">dotenv</span> <span class="d">colors</span> <span class="e">ejs</span></code>
        </div>
        <header class="cap">this template uses these libraries</header>
        <li> express js as http server</li>
        <li> ejs as view engin</li>
        <li> mongoose as database</li>
        <li> dotenv to store environment variables</li>
        <li> nodemon for hot reload</li>
        <li> colors to colors logger output</li>
    </ol>

</article>